<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Penubuhan</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fab fa-wpforms text-dark"> </i>
                </a>
              </li>
              <!-- <li class="breadcrumb-item">
                  <a href="javascript:void(0)" class="text-dark"> Lease Admin </a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">
                  Lease Admin
                </li> -->
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 m-0">Jumlah Kemasukan Permohonan</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivpegawaipenubuhan1"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-5">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 m-0">
                Jumlah Penubuhan Cawangan/Wilayah mengikut Tahunan
              </h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivpegawaipenubuhan2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-7">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 m-0">Penggabungan IPTS</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivpegawaipenubuhan3"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 m-0">Cari Permohonan</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="form-control-label">Jenis Permohonan</label>
                <select class="form-control">
                  <option hidden selected>Sila Pilih</option>
                  <option value="1">Fail 1</option>
                  <option value="2">Fail 2</option>
                  <option value="3">Fail 3</option>
                  <option value="4">Fail 4</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-control-label">Kategori</label>
                <select class="form-control">
                  <option hidden selected>Sila Pilih</option>
                  <option value="1">Kategori 1</option>
                  <option value="2">Kategori 2</option>
                  <option value="3">Kategori 3</option>
                  <option value="4">Kategori 4</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-control-label">Tarikh</label>
                <input
                  class="form-control"
                  placeholder="Tulis disini..."
                  type="date"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-control-label">No. Rujukan</label>
                <input
                  class="form-control"
                  placeholder="Tulis disini..."
                  type="text"
                />
              </div>
            </div>
            <div class="col-12 text-right">
              <button
                class="btn btn-default"
                type="button"
                (click)="successSwal('dicari')"
              >
                Cari
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h5 class="h3 mb-0">Senarai Permohonan Baharu Permit Mengajar</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Tunjuk
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">
                        smua
                      </option>
                    </select>
                    rekod
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Carian rekod"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <!-- <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                      <span> No. </span>
                    </ng-template>
                    <ng-template
                      ngx-datatable-cell-template
                      let-rowIndex="rowIndex"
                      let-row="row"
                    >
                      {{ rowIndex + 1 }}
                    </ng-template>
                  </ngx-datatable-column> -->
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> No. Rujukan </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.accNo }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Nama Pemohon </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.name }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Kelayakan </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.layak }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> No. Berdaftar </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.dateend }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Nama Penubuhan </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.kesihatan }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Tindakan </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button
                    class="btn btn-icon btn-default btn-sm"
                    type="button"
                    title="Lihat Borang"
                    (click)="openModal(viewtemplate)"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-eye"> </i>
                    </span>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
